[submodule "catkin_ws/src/VizO"]
	path = catkin_ws/src/VizO
	url = https://github.com/iscumd/VizO.git
[submodule "catkin_ws/src/ZenithPathPlanner"]
	path = catkin_ws/src/ZenithPathPlanner
	url = https://github.com/iscumd/ZenithPathPlanner
[submodule "catkin_ws/src/ZenithAprilTagReset"]
	path = catkin_ws/src/ZenithAprilTagReset
	url = https://github.com/iscumd/ZenithAprilTagReset
[submodule "catkin_ws/src/ZenithObstacleIdentifier"]
	path = catkin_ws/src/ZenithObstacleIdentifier
	url = https://github.com/iscumd/ZenithObstacleIdentifier
[submodule "catkin_ws/src/apriltags_ros"]
	path = catkin_ws/src/apriltags_ros
	url = https://github.com/iscumd/apriltags_ros.git
[submodule "catkin_ws/src/zenith_localization"]
	path = catkin_ws/src/zenith_localization
	url = https://github.com/iscumd/ZenithLocalization.git
