[submodule "catkin_ws/src/VizO"]
	path = catkin_ws/src/VizO
	url = https://github.com/iscumd/VizO.git
[submodule "catkin_ws/src/ZenithPathPlanner"]
	path = catkin_ws/src/ZenithPathPlanner
	url = https://github.com/iscumd/ZenithPathPlanner
[submodule "catkin_ws/src/ZenithLocalization"]
	path = catkin_ws/src/ZenithLocalization
	url = https://github.com/iscumd/ZenithLocalization
[submodule "catkin_ws/src/ZenithAprilTagReset"]
	path = catkin_ws/src/ZenithAprilTagReset
	url = https://github.com/iscumd/ZenithAprilTagReset
[submodule "catkin_ws/src/ZenithObstacleDetector"]
	path = catkin_ws/src/ZenithObstacleDetector
	url = https://github.com/iscumd/ZenithObstacleDetector
[submodule "catkin_ws/src/ZenithObstacleIdentifier"]
	path = catkin_ws/src/ZenithObstacleIdentifier
	url = https://github.com/iscumd/ZenithObstacleIdentifier
